.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;

}

body {
  background-color: #393E46;
}

h1 {
  margin: 30px;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #232931;
  font-size: 8rem;
  color: #4ECCA3;
}

p {
  font-size: 2rem;
  color: #4ECCA3;
  font-family: 'Indie Flower', cursive;
}

img {
  width: 80%;
}

footer {
  margin-top: 5%;
  color: #EEEEEE;
  text-align: center;
  font-family: 'Indie Flower', cursive;

}
/* Simple red flag */
.flag {
  width: 3rem;          /* Set the width of the flag */
  height: 1.5rem;       /* Set the height of the flag */
  background-color: red; /* Set the background color to red */
  border: 1px solid #000; /* Optional: Add a border for definition */
  position: relative;   /* Make sure the flag can be positioned */
}
